@import "tailwindcss";
@plugin "daisyui" {
    themes: black --prefersdark;
};

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  filter: blur(0);
}

.rotate-x-180 {
  transform: rotatex(180deg);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}